
<%- include("partials/header"); -%>
    <h1>Curious? Discover Stories And Thinking On A Variety Of Topics.</h1>
    


  <%  blogs.forEach(function(blog){ %>

    <div>
      <h3><%=blog.title%></h3>
      
    <p>
    <%=blog.content.substring(0, 100) + " ..."%>
    <a href="/blogs/<%=blog._id%>">Read More</a>
    </p>
    </div>


    <% }) %>


<%- include("partials/footer"); -%>
