<%- include("partials/header"); -%>

  <h1><%=foundBlog.title%></h1>
  <h3><%= foundBlog.description %></h3>
  <div class="author-detail">
    <p>By <%= foundBlog.author  %></p>
  <p><%= foundBlog.date %></p>
  </div>
  <p class="blog-content"><%=foundBlog.content%></p>

<%- include("partials/footer"); -%>
